<html>
  <head>
    <title>Dynflow Console</title>
    <script src="<%= url '/vendor/jquery/jquery.js' %>"></script>

    <link rel="stylesheet" type="text/css" href="<%= url '/vendor/bootstrap/bootstrap.css' %>">
    <script src="<%= url '/vendor/bootstrap/bootstrap.js' %>"></script>

    <link rel="stylesheet" type="text/css" href="<%= url '/vendor/google-code-prettify/prettify.css' %>">
    <script src="<%= url '/vendor/google-code-prettify/prettify.js' %>"></script>

    <link rel="stylesheet" type="text/css" href="<%= url '/css/application.css' %>">
    <script src="<%= url '/js/application.js' %>"></script>
  </head>

  <body>
    <% if params[:notice] %>
    <div id="notice" class="alert alert-warning"><%= h(params[:notice]) %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
